services:
  alloy:
    container_name: alloy
    restart: unless-stopped
    privileged: true
    network_mode: host
    image: grafana/alloy:v1.7.5
    command:
      - run
      - --server.http.listen-addr=127.0.0.1:12345
      - /etc/alloy.d
    volumes:
      - /:/host/root:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /run/udev/data:/host/udev:ro
      - ./alloy:/etc/alloy.d
{% if enable_spiffe %}
  spirl-agent:
    container_name: spirl-agent
    image: ghcr.io/spirl/spirl-agent:v0.44.0
    command: [ "/spirl-agent", "--config-file-path", "/etc/spirl/agent-config.yaml" ]
    pid: host
    ports:
      - 8080:80
    volumes:
      # Make the agent's workload endpoint socket available to the host
      - /var/run/spirl:/var/run/spirl
      # Make the host's Docker socket available to the agent (for Docker workload attestation)
      - /var/run/docker.sock:/var/run/docker.sock
      - ./defakto:/etc/spirl
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro

  mimir-proxy:
    container_name: mimir-proxy
    restart: unless-stopped
    network_mode: host
    image: ghostunnel/ghostunnel:v1.11.3-distroless
    command:
      - client
      - --listen=127.0.0.1:9009
      - --target=mimir.o.cavnet.cloud:443
      - --use-workload-api-addr=unix:///var/run/spirl/spiffe.sock
      - --verify-uri=spiffe://prod.cavallaro.local/talos-prod/ns/monitoring/sa/mimir
    volumes:
      - /var/run/spirl:/var/run/spirl
    depends_on:
      - spirl-agent

  loki-proxy:
    container_name: loki-proxy
    restart: unless-stopped
    network_mode: host
    image: ghostunnel/ghostunnel:v1.11.3-distroless
    command:
      - client
      - --listen=127.0.0.1:3100
      - --target=loki.o.cavnet.cloud:443
      - --use-workload-api-addr=unix:///var/run/spirl/spiffe.sock
      - --verify-uri=spiffe://prod.cavallaro.local/talos-prod/ns/monitoring/sa/loki
    volumes:
      - /var/run/spirl:/var/run/spirl
    depends_on:
      - spirl-agent
{% endif %}
